// helpers classes by Wishmaster

// margins

.i-mb {
	&_0  {margin-bottom: 0px;}
	&_5  {margin-bottom: 5px;}
	&_10 {margin-bottom: 10px;}
	&_15 {margin-bottom: 15px;}
	&_20 {margin-bottom: 20px;}
	&_25 {margin-bottom: 25px;}
	&_30 {margin-bottom: 30px;}
	&_35 {margin-bottom: 35px;}
	&_40 {margin-bottom: 40px;}
	&_45 {margin-bottom: 45px;}
	&_50 {margin-bottom: 50px;}
	&_150 {margin-bottom: 150px;}
}
.i-mt {
	&_5  {margin-top: 5px;}
	&_10 {margin-top: 10px;}
	&_15 {margin-top: 15px;}
	&_20 {margin-top: 20px;}
	&_25 {margin-top: 25px;}
	&_30 {margin-top: 30px;}
	&_35 {margin-top: 35px;}
	&_40 {margin-top: 40px;}
	&_45 {margin-top: 45px;}
	&_50 {margin-top: 50px;}
}

.i-mr {
	&_0  {margin-right: 0px;}
	&_5  {margin-right: 5px;}
	&_10 {margin-right: 10px;}
	&_15 {margin-right: 15px;}
	&_20 {margin-right: 20px;}
	&_25 {margin-right: 25px;}
	&_30 {margin-right: 30px;}
	&_35 {margin-right: 35px;}
	&_40 {margin-right: 40px;}
	&_45 {margin-right: 45px;}
	&_50 {margin-right: 50px;}
}

.i-ml {
	&_0  {margin-left: 0px;}
	&_5  {margin-left: 5px;}
	&_10 {margin-left: 10px;}
	&_15 {margin-left: 15px;}
	&_20 {margin-left: 20px;}
	&_25 {margin-left: 25px;}
	&_30 {margin-left: 30px;}
	&_35 {margin-left: 35px;}
	&_40 {margin-left: 40px;}
	&_45 {margin-left: 45px;}
	&_50 {margin-left: 50px;}
}


.i-pb{
	&_0 {padding-bottom: 0px;}
	&_10 {padding-bottom: 10px;}
	&_15 {padding-bottom: 15px;}
	&_20 {padding-bottom: 20px;}
	&_25 {padding-bottom: 25px;}
	&_30 {padding-bottom: 30px;}
	&_35 {padding-bottom: 35px;}
	&_40 {padding-bottom: 40px;}
}

.i-fz {
	&_12{font-size: 12px;}
	&_13{font-size: 13px;}
	&_14{font-size: 14px;}
	&_15{font-size: 15px;}
	&_16{font-size: 16px;}
	&_17{font-size: 17px;}
	&_18{font-size: 18px;}
	&_24{font-size: 24px;}
}

.i-clearfix {
	.clearfix();
}


.i-text {
	
	&_right {
		text-align: right;
	}

	&_left {
		text-align: left;
	}

	&_center {
		text-align: center;
	}

	&_justify {
		text-align: justify;
	}

	&_base {
		
	}
}